@font-face {
  font-family: 'junicodeitaliccondensed';
  src: url('junicode-italiccondensed-webfont.eot');
  src: url('junicode-italiccondensed-webfont.eot?#iefix') format('embedded-opentype'),
       url('junicode-italiccondensed-webfont.woff2') format('woff2'),
       url('junicode-italiccondensed-webfont.woff') format('woff'),
       url('junicode-italiccondensed-webfont.ttf') format('truetype'),
       url('junicode-italiccondensed-webfont.svg#junicodeitaliccondensed') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'junicoderegularcondensed';
  src: url('junicode-regularcondensed-webfont.eot');
  src: url('junicode-regularcondensed-webfont.eot?#iefix') format('embedded-opentype'),
       url('junicode-regularcondensed-webfont.woff2') format('woff2'),
       url('junicode-regularcondensed-webfont.woff') format('woff'),
       url('junicode-regularcondensed-webfont.ttf') format('truetype'),
       url('junicode-regularcondensed-webfont.svg#junicoderegularcondensed') format('svg');
  font-weight: normal;
  font-style: normal;

}

@keyframes wiggle {
  0% {
    transform: scale(1.0) translateY(0px) rotate(0deg);
  }
  20%{
    transform: scale(1.0) translateY(-2px) rotate(-3deg);
  }
  40%{
    transform: scale(1.1) translateY(-2px) rotate(3deg);
  }
  60%{
    transform: scale(1.0) translateY(2px) rotate(-3deg);
  }
  80%{
    transform: scale(0.95) translateY(-2px) rotate(3deg);
  }
  100% {
    transform: scale(1.0) translateY(0px) rotate(0deg);
  }
}



body, html {
  /* cursor: url("favicon.ico"), default; */
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: sans-serif;
  background: black;
  color: white;
}

main {
  position: relative;
}

svg {
  width: 100%;
}

p, h1, h2 {
  margin-block: 0px;
}


a{
  font-family:sans-serif;
  color: white;
  text-decoration: none;
}

a:hover {
  text-shadow: 1px 1px 5px #ffffff;
  position:;
}

pre {
  display: fixed;
  font-family: monospace;
  font-size: 10px;
  align-items: left;
  justify-content: left;
  white-space: pre;
  margin: 20px;
}

#scroll {
  position:sticky;
  right:40px;
  bottom:30px;
  cursor:pointer;
  display:none;
  color: white;
}
#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
}
#scroll:hover {
opacity:70%;
}

.juni{
  font-family: 'junicodeitaliccondensed';
  font-style: italic;
  color: white;

}

.juni:hover{
  color: black;
	text-shadow:
		-2px -2px 0 white,
		2px -2px 0 white,
		-2px 2px 0 white,
		2px 2px 0 white;
}


w span {
  display:inline-block;
  animation: wiggle 1s infinite;
  animation-delay: calc(var(--animation-order) * 307ms);
  transform-origin: center;
  animation-timing-function: ease-in-out;
}


.one {
  box-sizing: border-box;
  padding: 1vw;
  min-height: 50vh;
  position: sticky;
  width: 100%;
  top: 0px;
}
.one .header {
  display: flex;
  width: 100%;
  position: relative;
  border-bottom: 1px solid white;
}
.one .header .date {
  font-size: 5vw;
  margin-right: 40px;
  flex-shrink: 0;
}
.one .header .blurbs {
  padding: 0.5em;
  position: relative;
  box-sizing: border-box;
  font-size: 1vw;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.one .header .blurbs div {
  width: 33%;
}
.one h1 {
  width: 100%;
  text-align: center;
  font-size: 18vw;
  font-weight: normal;
  margin-bottom: 40vh;
}

.two {
  position: sticky;
  top: 0px;
}

.three {
  position: sticky;
  top: 0px;
  margin-top: -10px;
}

.four {
  border-top: 1px solid black;
  margin-top: -10px;
  position: sticky;
  top: 0px;
  min-height: 100vh;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
}
.four .item {
  border-bottom: 1px solid black;
  display: flex;
}
.four .item:hover {
  background-color: black;
  color: white;
}
.four .item:hover .meta {
  border-color: white;
}
.four .item .meta {
  padding: 6px;
  width: fit-content;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.four .item .meta .title {
  font-size: 30px;
  text-transform: uppercase;
  display: inline;
}
.four .item .meta .sub {
  font-style: italic;
  font-size: 30px;
}
.four .item .meta .type {
  margin-left: 100px;
  margin-right: 100px;
}
.four .item .credits {

  padding: 4px;
  padding-right: 8px;
  display: flex;
  flex-grow: 1;
  text-align: left;
  align-items: right;
  justify-content:flex-end;
}
.four .item .credits p {
  bottom: 0px;
}

.four h1 {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  font-size: 5vw;
  font-weight: normal;
  margin-bottom:0;
}

.four h3 {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  font-size: 8vw;
  font-weight: normal;
  margin-bottom:0;
  font-family: 'junicodeitaliccondensed';
  font-style: italic;
}


.five {
  margin-top: -10px;
  position: sticky;
  top: 0px;
  min-height: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.five .quote {
  box-sizing: border-box;
  text-align: center;
  border: 4px solid #ffffff;
  color: RED;
  font-size: 3vw;
}
.five .quote h2 {
  font-weight: normal;
  margin-block: 80px;
}
.five .copy-copy {
  display: flex;
  margin-top: 20px;
  opacity: 0.7;
}
.five .copy-copy div {
  box-sizing: border-box;
  width: 100%;
  font-weight: light;
  line-height: 1.2;
  text-align: center;
  margin: 50px;
}
.five .footer {
  width: 100%;
  display: flex;
}
.five .footer div {
  width: 25%;
  font-size: 2.4vw;
  text-align: center;
  padding: 2vw;
  border-right: 1px solid white;
}
.five .footer div:last-child {
  border-right: none;
}

.six {
  position: sticky;
  top: 0px;
  margin-top: -10px;

}

*{ box-sizing: border-box; }

.wrap { 
  margin: 0 auto;
  width: 100%;
  
  &--text {
    margin-bottom: 50px;
    padding: 0 50px;
    text-align: center;
  }
  &--logobar {
    background-color: rgb(255, 255, 255);
    height: 60px;
    overflow: hidden;
    position: relative;
  }
}

.four .item .list:hover {
  background-color: black;
  color: white;
}

.list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  margin-left: 0;
  font-size: 10px;
  border-bottom: 1px solid black;
  
  &__item {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    width: 100%;
  }
}

.tickerbox {
  border-top: 1px solid black;
  margin-top: -10px;
  position: sticky;
  top: 0px;
  min-height: 35vh;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
}


.tickerbox .item {
border-bottom: 1px solid black;
display: flex;
}
.tickerbox .item:hover {
background-color: black;
color: white;
}
.tickerbox .item:hover .meta {
border-color: white;
}
.tickerbox .item .meta {
padding: 6px;
width: fit-content;
border-right: 1px solid black;
border-left: 1px solid black;
}

.tickerbox .item .meta .title {
font-size: 30px;
text-transform: uppercase;
display: inline;
}
.tickerbox .item .meta .sub {
font-style: italic;
font-size: 30px;
}
.tickerbox .item .meta .type {
margin-left: 100px;
margin-right: 100px;
}

.tickerbox h1 {
width: 100%;
margin-top: 5px;
text-align: center;
font-size: 5vw;
font-weight: normal;
margin-bottom:0;
}